# 2023-02-13
/_my
/etc/backup.d
/etc/mysql/credentials.cnf
# 2024-07-17 "Configure OpenVPN Server": https://github.com/dmitrii-fediuk/5.9.188.84/issues/79
/etc/openvpn/dh.pem
/etc/openvpn/server.key
/etc/openvpn/ta.key
/root/.pgpass
# 2024-07-16 "Refactor `/root/.ssh/*` files": https://github.com/dmitrii-fediuk/5.9.188.84/issues/70
/root/.ssh/keys/*
!/root/.ssh/keys/*.pub
/root/.ssh/known_hosts
# 2024-07-17 "Configure OpenVPN Server": https://github.com/dmitrii-fediuk/5.9.188.84/issues/79
/root/easy-rsa/pki/dh.pem
# 2024-07-17 "Setup a Certificate Authority for OpenVPN": https://github.com/dmitrii-fediuk/5.9.188.84/issues/80
/root/easy-rsa/pki/private
# 2024-07-17 "Configure OpenVPN Server": https://github.com/dmitrii-fediuk/5.9.188.84/issues/79
/root/easy-rsa/ta.key
# 2024-05-29
# "Consolidate the sensitive data from all Discourse YML files to a single YML file,
# and then add the rest Discourse YML files to Git": https://github.com/dmitrii-fediuk/5.9.188.84/issues/60
/usr/local/discourse/credentials.yml
/usr/local/nginx/conf/assets/securepay.ufc.ge/.pem
/usr/local/nginx/conf/assets/securepay.ufc.ge/password.txt
/usr/share/backupninja
# 2024-07-16 "Refactor `/var/www/.ssh/*` files": https://github.com/dmitrii-fediuk/5.9.188.84/issues/71
/var/www/.ssh/keys/*
!/var/www/.ssh/keys/*.pub
/var/www/.ssh/known_hosts