# 2024-07-06 "Improve `/root/.gitconfig` and `/var/www/.gitconfig`": https://github.com/dmitrii-fediuk/5.9.188.84/issues/68
[core]
	autocrlf = input
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[user]
	name = Dmitrii Fediuk
	email = dfediuk@gmail.com