# Allow client to pass locale environment variables
# 2023-09-15
# 1) «Specifies what environment variables sent by the client will be copied into the session's `environ`.
# See `SendEnv` in `ssh_config` for how to configure the client.
# Note that environment passing is only supported for protocol 2.
# Variables are specified by name, which may contain the wildcard characters '*' and '?'.
# Multiple environment variables may be separated by whitespace or spread across multiple `AcceptEnv` directives.
# Be warned that some environment variables could be used to bypass restricted user environments.
# For this reason, care should be taken in the use of this directive.
# The default is not to accept any environment variables.»
# https://linux.die.net/man/5/sshd_config
# 2) I have disabled this feature.
# AcceptEnv LANG LC_*
# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication no
# http://fredericiana.com/2009/10/21/keeping-ssh-from-disconnecting-automatically
ClientAliveInterval 300
ClientAliveCountMax 3333
GSSAPIAuthentication no
HostbasedAuthentication no
# Закрытые ключи сервера.
# Пока не совсем понял, где и для чего они используются в контексте подключения клиентов к нашему серверу.
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_dsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
IgnoreRhosts yes
LogLevel INFO
# Клиент должен авторизоваться за 2 минуты.
LoginGraceTime 120
PermitEmptyPasswords no
PermitRootLogin yes
# Документация: http://man.cx/sshd_config(5)
# Этот файл задаёт настройки для подключения по SSH клиентов к нашему серверу.
# Настройки подключения по SSH нашего сервера к другим серверам в качестве клиента задаются в файле sshd_config.
Port 22
Protocol 2
PubkeyAuthentication yes
# Перед авторизацией проверяет права доступа к домашней папке
StrictModes yes
SyslogFacility AUTH
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes
Subsystem sftp /usr/lib/openssh/sftp-server
UsePAM yes
UsePrivilegeSeparation yes
X11Forwarding yes
X11DisplayOffset 10